
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gimbal Guide - Find your next gimbal!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/style.css?v={{ site.github.build_revision }}">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109136500-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-109136500-1');
        </script>
    </head>

    <body>
        {{ content }}
    </body>
</html>
